.actions_panel {
	width: 250px;
	margin-top: 5px;
}
.hovered td {
	background-color: #E5E5E5 !important;
}
#inner_wrapper {
	width: 97%;
}
#signup_form label {
	display: block;
	margin: 0 auto 1.5em auto;
	width: 300px;
}
#system_title {
	position: absolute;
	top: 50px;
	left: 110px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	letter-spacing: 1px;
}
.logo {
	background: url("../Images/coat_of_arms-resized.png") no-repeat;
}
.network {
	text-align: left;
	font-size: 16px;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	letter-spacing: 1px;
	position: absolute;
	right: 0;
	top: 60px;
	color: #036;
	border: 2px solid #DDDDDD;
	width: 300px;
	padding: 5px;
}
#top-panel {
	height: 150px;
}
#inner_wrapper {
	top: 150px;
}
.offline {
	color: red;
	width: 200px;
	padding: 0 10px;
	font-weight: bolder;
}
.online {
	color: green;
	width: 200px;
	padding: 0 10px;
	font-weight: bolder;
}
#signup_form {
	border: 1px solid #E5E5E5;
	margin: 0 auto;
	overflow: hidden;
}
.label {
	font-weight: bold;
	margin: 0 0 .5em;
	display: block;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.remember-label {
	font-weight: normal;
	color: #666;
	line-height: 0;
	padding: 0 0 0 .4em;
	-webkit-user-select: none;
	-moz-user-select: none;
}
#dispense_form, #add_patient_form, #stock_form {
	width: 980px;
	margin: 0 auto;
	border-right: 1px solid #E5E5E5;
	border-left: 1px solid #E5E5E5;
}
.column {
	position: relative;
	overflow: hidden;
	float: left;
	width: 45%;
}
.two_comlumns {
	overflow: hidden;
	width: 300px;
	margin: 0 auto;
}
.three_columns {
	overflow: hidden;
	width: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.three_columns .label {
	float: left;
	width: 90px;
	margin-right: 20px;
}
.list {
	float: right;
	font-weight: bold;
	color: #036;
}
.list_area {
	float: right;
	clear: right;
}
#submit_section {
	width: 850px;
	margin: 0 auto;
}
#add_patient_form {
	overflow: hidden;
}
#drugs_section {
	width: 970px;
}
.small_text {
	max-width: 50px !important;
	font-size: 11px !important;
	padding: 0 !important;
	text-align: center !important;
}
#my_profile_link_container .generated_link {
	display: none;
}
#my_profile_link {
	width: 200px !important;
	margin: 0px !important;
	padding: 0px !important;
}
#my_profile_link_continer {
	min-width: 200px !important;
	background-color: red;
	height: 100px;
}
.temp_link {
	font-size: 10px;
	width: 100px !important;
	background-color: #B80000;
	margin: 0px;
}