body {
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    color: #3F3F38;
    margin: 0;
    padding: 0;
    font: 13px / 1.231 arial, helvetica, clean, sans-serif;
    line-height: 1;
    font-size: 100%;
    vertical-align: baseline;
}

#content {
    width: 90%;
    z-index: -200;
    margin: 0 auto 0 auto;
}
#bottom_ribbon {
    height: 50px;
    width: 100%;
    position:absolute;
    bottom: 0;
    background: #036;
    border-top: 1px solid #363631; 
}
#footer_text{
font-weight: 300;
letter-spacing: 2px;
margin: 0 auto;
font-size: 16px;
color: white;
width: 90%;
height: 30px;
display: block;
overflow: hidden; 
text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.error{ 
	background-color:#F5F5F5;
	color:#BE2E21;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1); 
	font-weight: bold;
}
#wrapper {
    width: 100%;
    min-width: 980px;
    margin: 0 auto; 
    height: 0 auto -120px auto !important;
}

#footer {
    width: 95%;
    margin: 20px 2% 0 2%;
    text-align: center;
    float: right;
    color: white;
}

#inner_wrapper {
    width: 960px;
    margin: 0 auto;
    padding: 15px;
    position: relative;
    z-index: 10;
}

#container {
    width: 100%;
    background: #FFF;
    overflow: visible;
    padding: 15px;
}

#top-panel {
	overflow:hidden;
border-bottom:2px solid #C0C0C0;
}
 

.login_link {
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: helvetica, arial;
    font-weight: bold;
    display: block;
    text-align: center;
    background: #5E92FF;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px;
    height: 100px;
    position: relative; 
    background: url("../Images/coat_of_arms-resized.png") no-repeat;
}

#main_wrapper {
    overflow: hidden;
}

#center_content {
    width: 100%;
    min-height: 500px;
    margin: 0 0 0 10px;
    overflow: hidden;
}

#top_menu {
min-width:200px;
height:100px; 
position:absolute;
top:0;
right:0;
margin-top:-5px;
}

#my_profile_link{
	background-color: #00B831;
}
#my_profile_link:hover{
	background-color: white;
	cursor: pointer;
}
.top_menu_link {
    float: left;
    width: 115px;
    height: 50px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: helvetica, arial;
    font-weight: bold;
    display: block;
    text-align: center;
    background: #036;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 2;
}

.first_link {
    width: 120px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-right: -5px;
    position: relative;
    z-index: 1;
}

.last_link {
    width: 120px !important;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: -5px;
    position: relative;
    z-index: 1;
}

.top_menu_active {
    color: #be2e21;
    padding-bottom: 8px;
    background: #FFFFFF;
}

.top_menu_link:hover {
    background: rgb(243, 243, 243);
    color: black;
}

.short_title {
    width: 90%;
    height: auto;
}

.banner_text {
    font-weight: 100;
    letter-spacing: -1px;
    margin: 0;
    font-size: 24px;
    color: #3F3F38;
    width: 200px;
    height: 30px;
    display: block;
    overflow: hidden;
    text-shadow: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1); 
}

input[type = email]:hover, input[type = password]:hover, input[type = text]:hover, input[type = url]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

input[type = email]:focus, input[type = password]:focus, input[type = text]:focus, input[type = url]:focus {
    outline: none;
    border: 1px solid #4d90fe;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
}

input[type = email][disabled = disabled], input[type = password][disabled = disabled], input[type = text][disabled = disabled], input[type = url][disabled = disabled] {
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
}

input[type = email][disabled = disabled]:hover, input[type = password][disabled = disabled]:hover, input[type = text][disabled = disabled]:hover, input[type = url][disabled = disabled]:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input[type =
"email"], input[type = "password"], input[type = "text"], input[type = "url"], select {
    display: inline-block;
    height: 29px;
    margin: 0;
    padding-left: 8px;
    background: white;
    border: 1px solid #D9D9D9;
    border-top: 1px solid silver;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

#signup_form input[type =
"text"], #signup_form input[type = "password"] {
    width: 300px;
    height: 32px;
    font-size: 15px;
}
 


.link-button:hover {
	cursor:pointer;
    border: 1px solid #2f5bb7;
    color: #fff;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
    background-color: #357ae8;
    background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#357ae8));
  background-image: -webkit-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -moz-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -ms-linear-gradient(top,#4d90fe,#357ae8);
  background-image: -o-linear-gradient(top,#4d90fe,#357ae8);
  background-image: linear-gradient(top,#4d90fe,#357ae8);
}
.link-button:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}

.link-button-green:hover {
	cursor:pointer;
  border: 1px solid #2FB74F;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #36D148;
  background-image: -webkit-gradient(linear,left top,left bottom,from(#46EB59),to(#36D148));
  background-image: -webkit-linear-gradient(top,#46EB59,#36D148);
  background-image: -moz-linear-gradient(top,#46EB59,#36D148);
  background-image: -ms-linear-gradient(top,#46EB59,#36D148);
  background-image: -o-linear-gradient(top,#46EB59,#36D148);
  background-image: linear-gradient(top,#46EB59,#36D148);
}
.link-button-green:active {
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
}
.signup_link {
	width: 300px;
	height: 40px;
	line-height: 40px;
	color: white;
	text-decoration: none;
	font-size: 20px;
	font-family: helvetica, arial;
	font-weight:  bolder;
	display: block;
	text-align: center;
	background: #36D148;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 5px 0;
	letter-spacing: .10px;
	font-weight: 400;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
.button {
display: inline-block;
min-width: 54px;
text-align: center;
color: #555;
font-size: 11px;
font-weight: bold;
height: 27px;
padding: 0 8px;
line-height: 27px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
-webkit-transition: all 0.218s;
-moz-transition: all 0.218s;
-ms-transition: all 0.218s;
-o-transition: all 0.218s;
transition: all 0.218s;
border: 1px solid gainsboro;
border: 1px solid rgba(0, 0, 0, 0.1);
background-color: whiteSmoke;
background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#f1f1f1));
background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -moz-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -ms-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: -o-linear-gradient(top,#f5f5f5,#f1f1f1);
background-image: linear-gradient(top,#f5f5f5,#f1f1f1);
-webkit-user-select: none;
-moz-user-select: none;
user-select: none;
cursor: default;
}
.button:hover{
	border:1px solid black;
}
.submit-button {
border: 1px solid #3079ED;
color: white;
text-shadow: 0 1px rgba(0, 0, 0, 0.1);
background-color: #4D90FE;
background-image: -webkit-gradient(linear,left top,left bottom,from(#4d90fe),to(#4787ed));
background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
background-image: -moz-linear-gradient(top,#4d90fe,#4787ed);
background-image: -ms-linear-gradient(top,#4d90fe,#4787ed);
background-image: -o-linear-gradient(top,#4d90fe,#4787ed);
background-image: linear-gradient(top,#4d90fe,#4787ed);
} 
.content-section-title { 
/*background-color: #E95C41;*/
 background-color: #5E92FF;  
font-size: 1.3em;
padding: .5ex 0 .2em 1em;
text-align: left;
color:white;
letter-spacing:1.5px; 
height:30px;
line-height:30px;
text-shadow: 0 1px rgba(0, 0, 0, 1);
}